<div id="publications">
    <div class="article">
        <h1> Codes </h1>
        <hr />
        <hr />
        <hr />
        <h2> <a href="https://github.com/educrot/SPOCK">
               <i><b> spock:</b></i></a></h2>
        <h4 style="font-size:140%;"> To help scheduling observations on the SPECULOOS telescopes I have developed
            this python package aims at improving and easing the scheduling of observations on the
            <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">
                SPECULOOS project</a>  telescopes (6 telescopes + 2 <a href="https://www.trappist.uliege.be/cms/c_5006023/fr/trappist">
                TRAPPIST</a> telescopes). spock computes weekly observations plans for each telescope, taking into account
            several constraints such as  the location of the observatory, the visibility of the target,
            the duration of observations, the airmass,
            the number of hours already. Besides, as SPECULOOS telescopes are spread over three locations in the world spock
            plays a key role in the coordination of the observation between those observatories (SSO, SNO and SAINT-EX).<br>
            <hr />
            All sources codes can be found on my Github page and a comprehensive documentation is available <a href="https://educrot.github.io/SPOCK/index.html">
                here</a>.
        </h4>
        <hr />


    </div>
</div>