<div id="publications">
    <div class="article">
        <h1> Research </h1>
        <hr />
        <h4> I am interested in terrestrial planets orbiting ultra-cool stars, in particular planets within their habitable zone.
            Considering the <br />
        </h4>
        <div class="card col-md-3">
            <img src="images/speculoos_team.jpeg" width:"80" height:"80"/>
        </div>
        <h2> <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">
               <i><b> SPECULOOS:</b></i></a></h2>
        <h4 style="font-size:140%;">
        <h4> During my PhD I have had the chance to be involved in all the aspects of the <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">
                SPECULOOS project</a>: technical monitoring and on-site missions, scheduling of the observations, robotic operations, data reduction, data analysis and
            most important of all the interpretation of the results. One of my objectives as a PhD student was to work on the selection and implementation of
            the observational strategy of the SPECULOOS survey. In that regard I developed a python
            package to help the planification of all observations on the SPECULOOS telescopes, either
            core or external programs (see codes).
            <br />


        </h4>

        <div class="card col-md-3">
            <img src="images/JWST.jpeg" width:"80" height:"80"/>
        </div>
        <h2> <a href="https://www.jwst.nasa.gov/content/observatory/instruments/miri.html">
               <i><b> JWST:</b></i></a></h2>
        <h4 style="font-size:140%;">
        <h4> Since Oct 2021 I have joined the <a href="https://www.jwst.nasa.gov/content/observatory/instruments/miri.html"> JWST/MIRI GTO ExoMIRI  </a>
            science team at <a href="https://irfu.cea.fr/en/index.php"> CEA</a> to work on "unveiling the atmospheric composition of the TRAPPIST-1 planets with MIRI",
            a project for which I was granted the <a href="https://parisregion.eu/parisregionfp.html"> Paris Region Fellowship</a>, an EU co-founded Marie Sklodowska-Curie Action (MSCA) grant.
            For this purpose, I have been highly involved in the analysis of 5 secondary eclipses  -when the planet passes behind the star as seen from the observer-
            of the planet TRAPPIST-1 b at 15 microns and 5 others at 12.8 microns. From this measurement we measured the brightness temperature of the planet
            in the two bands
            This project has been recently completed and presented in a paper (see publications).



            Since Oct 2023, I have joined the <a href="https://www.observatoiredeparis.psl.eu/recrutements.html?lang=en"> Observatory of Paris-PSL </a>
            to work more generally on the "characterization of the atmospheres of rocky to Sub-Neptunes planets with the JWST", a project for which I was granted
            the <a href="https://psl.eu/en/research/doctoral-studies-and-postdoctoral-fellowships/psl-postdoctoral-programs"> Paris Observatory-PSL fellowship </a>.

            Finally, I have a strong interest in astrobiology.
        </h4>

        <div class="card col-md-3">
            <img src="images/T1.jpeg" width:"80" height:"80"/>
        </div>
        <h2> <a href="https://exoplanets.nasa.gov/trappist1/">
               <i><b> The TRAPPIST-1 system:</b></i></a></h2>
        <h4 style="font-size:140%;">
        <h4> A great part of my PhD was dedicated to the in-depth study of the Trappist-1 system. Notably, I have had the chance to lead the analysis of more than
            1000 hours of observation of the system with the <a href="http://www.spitzer.caltech.edu/trappist-1"> Spitzer space telescope</a> and
            I have been in charge of the organisation of the Trappist-1
            follow up with SPECULOOS for the last three years.

        </h4>


        <hr />
        <hr />
        <h1> Codes </h1>
        <hr />
        <h2> <a href="https://github.com/educrot/SPOCK">
               <i><b> spock:</b></i></a>
        </h2>

        <h4 style="font-size:140%;"> To help scheduling observations on the SPECULOOS telescopes I have developed
            this python package that aims at improving and facilitate the scheduling of observations on the
            <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">
                SPECULOOS </a>  telescopes (6 telescopes + 2 <a href="https://www.trappist.uliege.be/cms/c_5006023/fr/trappist">
                TRAPPIST</a> telescopes). <i>spock</i> computes weekly or monthly observations plans for each telescope, taking into account
            several constraints such as  the location of the observatory, the visibility of the target,
            the duration of observations, the airmass,
            the number of hours surveyed and the priority of the target (based on its stellar properties). Besides, as SPECULOOS telescopes are spread over three locations in the world spock
            plays a key role in the coordination of the observation between different observatories (SSO, SNO and SAINT-EX).<br>
            <hr />
            All source codes can be found on my Github page and a comprehensive documentation (in dev) is available <a href="https://educrot.github.io/SPOCK/index.html">
                here</a>.
        </h4>
        <hr />
        <hr />
<!--        <h2> <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">-->
<!--                       <b> SPECULOOS:</b></a></h2>-->
<!--        <hr />-->
<!--        <hr />-->
<!--        <h2> <a href="https://exoplanets.nasa.gov/exep/exopag/sag/#sag21">-->
<!--               <b> SAG21:</b></a></h2>-->
    </div>
</div>
