<div id="publications">
    <h1> Curriculum Vitae </h1>
    <hr />
    <p>Click the image to see full CV in PDF version</p>

    <hr />
    <hr />
    <p style="font-size:140%;">
        <a href="https://drive.google.com/file/d/1cHY-fwv4Uh8jf-k7z03ypofwZdo4qYe9/view?usp=sharing"><img src="images/cv.png"
                                          style="border-radius: 0%" title="Click here to see my CV in PDF version" alt="Flower"></a>

    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />



</div>