  </div>
  <div class="container">
    <div id="welcome-greeting">
      <div class="card col-md-3">
            <p style="font-size:140%;"><i class="fa fa-envelope-o" style="font-size:35px;color:#4682B4"></i>&nbsp;educrot@uliege.be  </p>
            <img src="images/self.jpg" width:"100" height:"100"/>
      </div>
      <hr />
      <hr />
      <h1>Hi! I'm Elsa.</h1>
      <h2>I am a PhD student at the university of Liège, working under the supervision of Michaël Gillon.
        I am interested in the search of habitable planets around ultra-cool star.
        In particular I am involved in the <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">SPECULOOS</a>
        project and a lot of my time is dedicated to the study of the <a href="http://www.trappist.one/">Trappist-1</a>  system.</h2>
      <hr />
    </div>
  </div>
  <div class ="container">
