<div id="publications">
    <h1> Presentations </h1>
    <p style="font-size:140%;"> Here is a non-exhaustive lists of conferences, workshops and seminar I have participated to or been invited to.</p>
    <hr />

    <div class="article">
        <h3> BEACON 2023 </h3>
        <h4> <b>May 2023 - </b> Toulouse, France </h4>
        <h4> Talk on "Thermal Emission from the Earth-sized Exoplanet TRAPPIST-1 b using the
JWST" .</h4>
        <h4> <a href="https://europeanastrobiology.eu/beacon/"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> CoolStars 2021 </h3>
        <h4> <b>July 2022 - </b> Toulouse, France </h4>
        <h4> Plenary talk "A four-year follow-up campaign of TRAPPIST-1 from the ground" .</h4>
        <h4> <a href="https://coolstars21.github.io/program.html#14"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> AbSciCon 2022 </h3>
        <h4> <b>May 2022 - </b> Atlanta, GA, USA </h4>
        <h4> Invited talk on "A four years follow-up campaign of TRAPPIST-1 with the SPECULOOS telescopes" .</h4>
        <h4> <a href="https://agu.confex.com/agu/abscicon21/meetingapp.cgi/Paper/1025974"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Exoplanet IV </h3>
        <h4> <b>May 2022 - </b> Las Vegas, NE, USA </h4>
        <h4> Talk on "A four years follow-up campaign of TRAPPIST-1 with the SPECULOOS telescopes" .</h4>
        <h4> <a href="https://submissions.mirasmart.com/ExoplanetsIV/itinerary/PresentationDetail.aspx?evdid=51"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Exoplanets Orbits &amp Dynamics (EXODYN20) Workshop </h3>
        <h4> <b>Mar 2021 - </b> Held remotely due to the Covid-19 pandemic\ </h4>
        <h4> <a href="https://sites.google.com/view/sag21symposium"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Lunch seminar at Cornell University, NY, USA </h3>
        <h4> <b>Mar 2021 - </b> Presentation of the status of follow-up observations on the TRAPPIST-1 system</h4>
        <h4> <a href="http://hosting.astro.cornell.edu/events/planetary-lunch.html"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Exoplanets Orbits &amp Dynamics (EXODYN20) Workshop </h3>
        <h4> <b>Jan 2021 - </b> Held remotely due to the Covid-19 pandemic\ </h4>
        <h4> <a href="https://sites.google.com/view/exodynamics/home"> [Link to abstract]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Europlanet Science Congress (EPSC) 2020 (held remotely due to the Covid-19 pandemic) </h3>
        <h4> <b>Sep 2020 - </b> Participation to the work presented by collaborator Daniel Sebastian in a talk untitled "The SPECULOOS Project: New targets to hunt planets of Ultra-cool dwarfs." </h4>
        <h4> <a href="https://meetingorganizer.copernicus.org/epsc2020/meetingprogramme"> [Link to abstract]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> THAI Workshop, NASA GISS, New York, NY (held remotely due to the Covid-19 pandemic) </h3>
        <h4> <b>Sep 2020 - </b> TRAPPIST Habitable Atmosphere Intercomparison (THAI) workshop on the comparisons and discussions between GCMs use in Exoplanetary Science to predict the climate of rocky exoplanets in the Habitable Zone the detectability of their atmosphere (if any) and their characterization</h4>
        <h4> <a href="http://www.nexss.info/community/workshops/thai"> [Link to website]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Lunch seminar at Max Planck Institute for Astronomy, Heidelberg, Germany (invited seminar) </h3>
        <h4> <b>July 2020 - </b>Virtual 30 min oral presentation to introduce the Global results of the Spitzer Exploration Science Program Red Worlds.</h4>
    </div>
    <hr />

    <div class="article">
        <h3> Exoplanets III, Heidelberg, Germany (talk, held remotely due to the Covid-19 pandemic) </h3>
        <h4> <b>July 2020 - </b>Oral presentation on "TRAPPIST-1: Global Results of the Spitzer Exploration Science Program and ground based transit timing variations follow-up" .</h4>
        <h4> <a href="https://hdconfsys.zah.uni-heidelberg.de/exoplanets3/program_talks.html"> [Link to abstract]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> EPSC-DPS join meeting 2019, Geneva, Switzerland </h3>
        <h4> <b>Sept 2019 - </b>Oral presentation untitled "Latest news of SPECULOOS and TRAPPIST-1".</h4>
        <h4> <a href="https://meetingorganizer.copernicus.org/EPSC-DPS2019/EPSC-DPS2019-1974-2.pdf"> [Link to abstract]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> 2019 Sagan Exoplanet Summer Workshop: Astrobiology for Astronomers, Pasadena, CA </h3>
<!--        <img src="images/pres_sagan.jpg" style="width:15%;border-radius: 0%;float:right;">-->
        <h4> <b>July 2019 - </b>Poster and POP presentation on the "Global results of the Spitzer Exploration Science Program red worlds"</h4>
        <h4> <a href="https://nexsci.caltech.edu/workshop/2019/participants.shtml"> [Link to participants list]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> AbSCiCon 2019, Bellevue, WA </h3>
        <h4> <b>June 2019 - </b>Oral presentation untitled "TRAPPIST-1: Latest outcomes from an extensive photometric follow up".</h4>
        <h4> <a href="https://agu.confex.com/agu/abscicon19/meetingapp.cgi/Paper/481309"> [Link to abstract]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Trappist-1 conference, Liège, Belgium </h3>
        <h4> <b>June 2019 - </b>Oral presentation untitled "Comprehensive photometric follow up of the TRAPPIST-1 system".</h4>
        <h4> <a href="https://events.uliege.be/trappist-1/programme/"> [Link to programme]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Lunch Seminar at Imperial College London, London, UK (invited) </h3>
        <h4> <b>Mar 2019 - </b>1h Oral presentation on "SPECULOOS, the search for habitable worlds".</h4>
    </div>
    <hr />

    <div class="article">
        <h3> EXOJC 2019, Bordeaux, France </h3>
        <h4> <b>Mar 2019 - </b>Poster on "Latest news from the photometric follow up of TRAPPIST-1".</h4>
        <h4> <a href="https://exojc2019.sciencesconf.org/"> [Link to programme]</a></h4>
    </div>
    <hr />


    <div class="article">
        <h3> Metropolis Bruxelles, Belgium (invited) </h3>
        <h4> <b>Nov 2018 - </b>1h presentation on exoplanets and the SPECULOOS project to high school students in the context of the METROPOLIS initiative. The METROPOLIS project has for objective
            to introduce high school students to a variety of carer paths.

            <br></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Exoplanets II, Cambridge, UK </h3>
        <h4> <b>July 2018 - </b>Poster on the "The 0.6-4.55µm broadband transmission spectra of TRAPPIST-1 planets".</h4>
        <h4> <a href="https://www.exoplanetscience2.org/programme/06-455%c2%b5m-broadbandtransmissionspectraoftrappist-1planets.html"> [Link to poster]</a></h4>
    </div>
    <hr />

    <div class="article">
        <h3> Société Astronomique de Liège, Liège, Belgium (invited) </h3>
        <h4> <b>Feb 2018 - </b>1h Oral presentation of the SPECULOOS project to the members of the Astronomical society of Liège.</h4>
        <h4> <a href="http://societeastronomique.uliege.be/activite/conference-de-septembre-speculoos-a-la-recherche-dautres-terres-habitees-autour-des-naines-ultrafroides-les-plus-proches/"> [Link to abstract]</a></h4>
    </div>
    <hr />



</div>
