<div id="publications">
    <h1> Publications </h1>
    <p style="font-size:140%;">To date, I have authored and co-authored 12 peer-reviewed publications,
        2 of which as the first author. Please find below a list of my first-author peer-reviewed publications,
        as weel as a list of all peer-reviewed publications I was involved in.</p>
    <h2>First-author publications:</h2>
    <div class="article">
        <h3> TRAPPIST-1: Global results of the Spitzer Exploration Science Program Red Worlds </h3>
        <h4><b> Ducrot </b> et al. 2020. A &amp A vol. 640, p. A112, Aug. 2020. <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2020/08/aa37392-19.pdf"> [Click here to read full article]</a></h4>
    </div>

    <h2>Second- and third-author publications:</h2>
    <div class="article">
        <h3> “Complex Modulation of Rapidly Rotating Young M Dwarfs: AddingPieces to the Puzzle </h3>
        <h4> Günther, Berardo, <b> Ducrot </b> et al. 2020. arXiv: 2008.11681 <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2020/08/aa37392-19.pdf"> [Click here to read full article]</a></h4>
    </div>

    <h2>Other co-authored publications:</h2>
    <div class="article">
        <h3> TRAPPIST-1: Global results of the Spitzer Exploration Science Program Red Worlds </h3>
        <h4><b> Ducrot </b> et al. 2020. A &amp A vol. 640, p. A112, Aug. 2020. <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2020/08/aa37392-19.pdf"> [Click here to read full article]</a></h4>
    </div>
</div>
