<div id="publications">
    <div class="article">
        <h1> Outreach </h1>
        <hr />

        <div class="card col-md-3">
            <img src="images/outreach.jpeg" width:"100" height:"100"/>
        </div>
        <h2> <a href="https://www.fondationloreal.com/our-programs-women-science/girls-science-0">
               <i><b> Outreach:</b></i></a></h2>
        <h4 style="font-size:140%;">
        <h4>
            <p style="font-size:140%;"> I also believe outreach activities are an integral part of the job of researcher.
                I therefore try to dedicated part of my time to share my passion for astronomy and promote the importance of gender diversity in science.
                I have listed below a selection of the outreach events I have participated to
            in the past years, from radio interviews to presentations in festivals or high schools.
            <br>
            <br>
            <br>
            </p>
            <div class="article">
                <h3> &#11089; Astrobio Education </h3>
                <h4><b> Outreach course about Exobiologie <br></h4>
                <h4> <a href="https://www.youtube.com/watch?v=A5k2dso5PqY&t=266s&ab_channel=Soci%C3%A9t%C3%A9Fran%C3%A7aised%27Exobiologie"> Le système TRAPPIST-1 </a></h4>
            </div>
            <div class="article">
                <h3> &#11089; Ciel et Espace </h3>
                <h4><b> Entretien <br></h4>
                <h4> <a href="https://www.youtube.com/watch?v=0omTX3f1Dro&t=373s&ab_channel=Ciel%26Espace"> Discussion on the planète SPECULOOS-3 b </a></h4>
            </div>
            <div class="article">
                <h3> &#11089; Utopiales 2023 </h3>
                <h4><b> Three rond tables <br></h4>
                <h4> <a href="https://www.utopiales.org/event/celle-qui-cherche-des-exoplanetes/"> Celle qui cherche des exoplanètes </a></h4>
                <h4> <a href="https://www.utopiales.org/event/transmission-par-les-images/"> Transmission par les images </a></h4>
                <h4> <a href="https://www.utopiales.org/event/jouer-avec-la-vitesse-de-la-lumiere/"> Jouer avec la vitesse de la lumière </a></h4>
            </div>
            <div class="article">
                <h3> &#11089; La science CQFD </h3>
                <h4><b> Outreach radio interview about the topic: Exoplanets: who's got an atmospheric face? <br></h4>
                <h4> <a href="https://www.radiofrance.fr/franceculture/podcasts/la-science-cqfd/exoplanetes-qui-a-une-gueule-d-atmosphere-7314643"> [Click here to listen]</a></h4>
            </div>
            <div class="article">
                <h3> &#11089; La cerise dans le labo </h3>
                <h4><b> Project of podcast and a comic book to describe the work of 13 women reasearcher and promote women in sciences <br></h4>
                <h4> <a href="https://www.youtube.com/watch?v=ys9DMK8aKU4"> [Click here to listen to the podcast]</a></h4>
                <h4> <a href="https://www.youtube.com/watch?v=ys9DMK8aKU4"> [Click here to buy the comic book]</a></h4>
            </div>
            <div class="article">
                <h3> &#11089; Cité des Sciences et de l'Industrie </h3>
                <h4><b> Outreach video on the James Webb Space Telescope <br></h4>
                <h4> <a href="https://leblob.fr/videos/jwst-un-voyage-dans-espace-et-le-temps"> [Click here to see the video]</a></h4>
            </div>
            <div class="article">
                <h3> &#11089; Arte twich </h3>
                <h4><b> First images of the JWST telescope <br></h4>
                <h4> <a href="https://www.twitch.tv/videos/1529721515"> [Click here to see the video]</a></h4>
            </div>
            <div class="article">
                <h3> &#11089; Epsiloon journal </h3>
                <h4><b> Interview about the JWST <br></h4>
                <h4> <a href="https://www.epsiloon.com/common/product-article/34?gclid=CjwKCAjwsfuYBhAZEiwA5a6CDDfToa6rCvtpDMFo-eziDNFMKIom4psfdKSJCw44zr4qLttKXa8uCRoCgacQAvD_BwE"> [Click here to see the journal]</a></h4>
            </div>

        </h4>

        <div class="card col-md-3">
            <img src="images/FGIS.jpeg" width:"100" height:"100"/>
        </div>
        <h2> <a href="https://www.fondationloreal.com/our-programs-women-science/girls-science-0">
               <i><b> Ambassadress for the program For Girls in Sciences:</b></i></a></h2>
        <h4 style="font-size:140%;">
        <h4> This program aims to help raise the profile of science as an attractive career and inspire girls to become scientists by
            providing tutoring in sciences, visits, and guidance on career orientation.
            As an ambassadress of FGIS my role is to organize visits of research labs, answer to questions and
            propose short-term internships to break down preconceived ideas about scientific careers and women in science.
        </h4>

    </div>
</div>
