<div id="publications">
    <div class="article">
        <h1> Outreach </h1>
        <hr />
        <h4> I also believe outreach activities are essential and I am involved to promote the
            importance of gender diversity in science.<br />
        </h4>
        <div class="card col-md-3">
            <img src="images/outreach.jpeg" width:"100" height:"100"/>
        </div>
        <h2> <a href="https://www.fondationloreal.com/our-programs-women-science/girls-science-0">
               <i><b> For Girls in Sciences:</b></i></a></h2>
        <h4 style="font-size:140%;">
        <h4> describe program 
        </h4>

    </div>
</div>
